{{> components/global/header }}
<main role="main">

	{{> components/text/page-header }}

	<div class="l l--two-col">
		<div class="l-main">
			{{# latestPosts }}
			{{> components/section/section-media-list }}
			{{/ latestPosts }}
		</div><!--end .l-main-->

		<div class="l-sidebar">
			{{# featuredPeople }}
			{{> components/section/section-media-list }}
			{{/ featuredPeople }}
			{{# featuredHikes }}
			{{> components/section/section-media-list }}
			{{/ featuredHikes }}
		</div><!--end .l-sidebar-->
	</div><!--end .l-two-col-->
</main>
{{> components/global/footer }}
