{{> components/global/header }}
<main role="main">
	{{# alert }}
		{{> modules/messaging/alert }}
	{{/ alert }}

	{{# sectionBlock }}

	{{> components/list/tile-grid }}

	{{/ sectionBlock }}

	<div class="l l--two-col">
		<div class="l-main">
			{{# featuredChallenges }}
			{{> components/section/section-media-list }}
			{{/ featuredChallenges }}
		</div><!--end .l-main-->

		<div class="l-sidebar">
			{{# featuredPeople }}
			{{> components/section/section-media-list }}
			{{/ featuredPeople}}
		</div><!--end .l-sidebar-->
	</div><!--end .l-two-col-->
</main>
{{> components/global/footer }}
