<main role="main">
	<div class="c-box">
		<div class="c-box__header">
			{{> elements/images/logo }}
		</div><!--end c-box__header-->

		<div class="c-box__body">
			{{> components/forms/stacked-form }}
		</div><!--end c-box__body-->

	</div><!--end c-box-->
</main>
