<div class="c-tile-grid">
	<div class="c-tile-grid__inner l">

		{{# blockFeature}}
		<div class="c-tile-grid__primary">
			{{> modules/blocks/block-tile }}
		</div><!--end c-tile-grid__primary-->
		{{/ blockFeature}}

		<div class="c-tile-grid__secondary">
			{{> components/lists/tile-list }}
		</div><!--end c-tile-grid__secondary-->

	</div><!--end l-->
</div><!--end c-tile-grid-->
